h1 {
    color: #B21144;
    font-family: "Georgia", serif;
    font-size: 3em ;
}
h2 {
    color: #14B225;
    border-bottom: dotted;
    border-color: #FFE9F0;
    font-family: "Georgia", serif;
    font-size: 2em;
}
p {
    font-family: "Georgia", serif;
    font-size: 1em;
}
#active {
    color: #FFE9F0;
    display: block;
    padding: 10px;
    background-color: #FFE9F0;
    border-bottom: 1px solid black;
}
#navigation a {
    text-decoration: none;
    font-family: "Georgia", serif;
    font-weight: bold ;
}
#navigation ul {
    list-style-type: none;
    border: 1px solid black;
    border-bottom: none;
    margin: 0;
    padding: 0;
}
#navigation li a {
    display: block;
    padding: 10px;
    background-color: #FFE9F0;
    border-bottom: 1px solid black;
    color: #B21144;
    font-style: normal;
}
#navigation li a:link {
    color: #B21144;
}
#navigation li a:visited {
    color: #14B225;
}
#navigation li a:focus {
    color: #FFE9F0;
}
#navigation li a:hover {
    color: #B21144;
    background-color: #14B225;
}
#navigation li a:active {
    color: #E9FFEC;
}
#container {
    width: 1034px;
}
#header {
    width: 1034px;
    height: 240px;
    background-color: #FFFFFF;
    border-bottom-style: solid;
}
#logo {
    width: 180 px;
    height: 240 px;
    float: right;
}
#navigation {
    width: 180px;
    float: left;
    margin-right: -180px;
}
#wrapper {
    width: 100%;
    float: left;
    background-color: #FFFFFF;
}
#content {
    margin-left: 200px;
}
#footer {
    width: 100%;
    height: 240px;
    float: left;
    border-top: solid;
    background-color: #E9FFEC;
}
a {
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
}
/*
    Background main: #FFFFFF
    Footer: #E9FFEC
    H1: #B21144
    H2: #14B225
*/